/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body{
  font-family: 'Montserrat', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
#startScreen{
  width: 100%;
  height: 50vh;
  text-align: center;
}
#hud{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#playAgain{
  cursor: pointer;
}

h1:first-of-type{
  margin-top: 20%;
}

.game{
  width: 100%;
  height: 80vh;
  background: white;
}
.box{
  float: left;
  width: 10%;
  height: 22.5%;
  background: black;
}
/* .game section{
  border: 1px solid white;
} */

.hidden{
  display: none;
}
.visibility{
  visibility: hidden;
}

.greenBack{
  background: green;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
